// 头部
.nada-header-container {
  border: 1px solid var(--nada-border-color);
  border-bottom: 0;
}

.nada-header,
.nada-header a {
  height: 42px;
  background-color: var(--nada-header-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  color: var(--nada-text-main);
}
