// 组件选择面板
.nada-component-view {
  height: 100%;

  .nada-componet-item {
    cursor: pointer;
    border: 1px solid var(--nada-border-color);
    padding: 8px 10px;
    border-radius: 4px;

    .iconfont {
      margin-right: 5px;
      font-size: 16px;
      color: var(--nada-text-secondary);
    }

    &:hover {
      border-color: var(--nada-primary-color);
      color: var(--nada-primary-color);
      background-color: var(--nada-compoent-hover-color);

      .iconfont {
        color: var(--nada-primary-color);
      }
    }
  }

  .nada-tabs-box {
    width: 62px;
    height: 100%;
    background: var(--nada-compoent-tabs-color);
    padding: 12px 6px;
    box-sizing: border-box;

    .nada-tab {
      height: 28px;
      line-height: 28px;
      border-radius: 6px;
      font-size: var(--nada-text-sm);
      font-weight: 500;
      letter-spacing: 0em;
      color: var(--nada-text-main);
      margin-bottom: 10px;
      text-align: center;

      &.checked {
        color: var(--nada-primary-color);
        background-color: var(--nada-primary-hover-color);
      }
    }
  }

  .nada-search-box {
    border-bottom: 1px solid var(--nada-border-color);

    // element 搜素框样式
    // .el-input__wrapper {
    //   background-color: #f7f7f7;
    // }
  }
}
